* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-family: sans-serif;
	background-color: #000;
	color: #ccc;
}

a {
	color: #ccc;
}

.messages {
	list-style: decimal;
	text-align: left;
	color: indianred;
  background-color: maroon;
	font-size: .75em;
	overflow-y: scroll;
	padding: 0;
	font-family: monospace;
	font-size: 1rem;
	max-height: 8rem;
	margin: 0;
	> li {
		padding: .125rem;
		border-bottom: .125rem solid indianred;
	}
}

@keyframes piece-beacon {
	from {
		background-color: rgb(189, 6, 6);
	}

	to {
		background-color: rgb(255, 125, 103);
	}
}

body > main {
	text-align: center;
	max-width: 40rem;
	margin: 0 auto;
	width: 100%;
}

.view {
	width: 100%;
	height: 100%;
	&.r {
		&90 {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg)
		}
		&180 {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg)
		}
		&270 {
			-webkit-transform: rotate(270deg);
			-moz-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			transform: rotate(270deg)
		}
	}
}

button {
	cursor: pointer;
	box-sizing: border-box;
	background-color: #000;
	border: solid .125em #fff;
	border-radius: .25em;
	font-size: 1.25rem;
	color: #aaa;
	text-transform: uppercase;
	padding: .5rem 1rem;
	margin: 1rem 0;
	&:focus, &:hover {
		outline: solid .125rem #aaa;
		outline-offset: -.5rem;
		background-color: #222;
		border-color: #aaa;
		color: #fff;
	}
}

h2, h3 {
	margin: 2rem 0;
	font-size: 1.5rem;
	border-bottom: dotted .75rem #222;
	padding-bottom: 1rem;
}

p, ul {
	margin: 1rem 2rem;
}

ul {
	li {
		margin: .5rem 0;
		&.user, &.game {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			> div {
				width: 100%;
				margin-bottom: 1rem;
				.icon {
					position: relative;
					padding: 2rem 0;
					width: 100%;
					margin-bottom: 1rem;
				}
				strong {
					word-break: break-all;
				}
			}
		}

		&.game > div {
			.icon {
				background-color: #10253c;
				border-radius: 2rem;
				&:after {
					display: block;
					content: '';
					width: 5rem;
					height: 5rem;
					margin: 0 auto;
					background-color: #99999999;
					border: #fff solid .5rem;
					border-radius: .5rem;
					transform: rotate(45deg);
					transform-origin: center center;
				}
			}
			.stats {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				width: 100%;
				text-align: center;
				.p0, .p1 {
					position: absolute;
					left: 50%;
					transform: translate(- 50%, 0);
					border-radius: .5rem;
					border: solid .125rem #fff;
					background-color: #000;
					color: #fff;
					font-size: .5rem;
					padding: .25rem .25rem;
					min-width: 8rem;
					max-width: 13rem;
					width: 100%;
				}
				.p0 {
					top: 2.25rem;
				}
				.p1 {
					bottom: 2.25rem;
				}
				div:nth-child(2) {
					position: absolute;
					left: 50%;
					top: 50%;
					font-size: 2.25rem;
					line-height: 3.5rem;
					color: #000;
					transform: translate(-50%, -50%);
				}
			}
		}

		&.user > div .icon {
			background-color: #280b0b;
			border-radius: 2rem;
			&:after {
				display: block;
				content: '';
				width: 5rem;
				height: 5rem;
				margin: 0 auto;
				background-color: #99999999;
				border: #fff solid .5rem;
				border-radius: 100%;
			}
		}

		&.user {
			&:nth-child(even) {
				padding-left: 1rem;
			}
			&:nth-child(odd) {
				padding-right: 1rem;
			}
		}
	}
}

.vertical-middle {
	> * {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
	}
}

.info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: .5em;
	background-color: rgba(30, 30, 30, .75);
	@media (min-width: 700px) and (min-height: 600px) {
		padding: 1em;
	}
	> div {
		background-color: transparent;
		font-size: 1.5rem;
		margin: 0;
		button {
			margin: 1rem 2rem;
		}
		@media (min-width: 700px) and (min-height: 600px) {
			font-size: 2rem;
		}
	}
	.state {
		box-sizing: border-box;
		border: .125em solid #05c605;
		color: #05c605;
		border-radius: .5em;
		font-size: 1.125rem;
		padding: .25em .5em;
		text-transform: uppercase;
		&.red {
			border: .125em solid #c60505;
			color: #c60505;
		}
	}
}

.debug {
	top: initial;
	bottom: 0;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	transform: translate(0%, -50%);
	box-sizing: border-box;
	text-align: center;
}

.welcome {
	> div {
		@include abs-center;
	}
}

.container {
	// display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&.show {
		display: block;
	}
}

.banner {
	background-color: rgba(0, 0, 0, .75);
	> div {
		@include abs-center;
		font-size: 4em;
		padding: 1em;
		color: #fff;
		> div {
			display: inline-block;
			vertical-align: middle;
			margin: 0 .5em;
		}
		button {
			border-color: #fff;
			color: #fff;
		}
	}
	&.win > div {
		background-color: rgba(0, 128, 0, 0.8);
	}
	&.lose > div {
		background-color: rgba(189, 6, 6, 0.8);
	}
}

.ur {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.4);
	box-sizing: border-box;
	width: 800px;
	height: 300px;
	@media (min-width: 550px) {
		transform: translate(-50%, -50%) scale(.5);
	}
	@media (min-width: 700px) and (min-height: 600px) {
		transform: translate(-50%, -50%) scale(.75);
	}
	.board {
		box-sizing: border-box;
		display: table;
		width: 100%;
		height: 100%;
		border: .125em solid rgba(55, 55, 55, 0.7);
		//overflow: hidden;
		> div {
			display: table-row;
			&:nth-child(1) {
				> div {
					&:nth-child(5) {
						position: relative;
						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							right: -.25em;
							width: .25em;
							background-color: #999;
							height: 200%;
						}
					}
				}
			}
			&:nth-child(3) {
				> div {
					&:nth-child(5) {
						position: relative;
						&:after {
							content: '';
							position: absolute;
							top: 0;
							right: -.25em;
							width: .25em;
							background-color: #999;
							height: 200%;
						}
					}
				}
			}
			&:nth-child(1), &:nth-child(3) {
				> div {
					/* Prepare rosette */
					&:nth-child(1) {
						background-color: rgba(75, 75, 149, 0.5);
					}
					/* Empty */
					&:nth-child(5), &:nth-child(6) {
						background-color: transparent;
					}
					/* Safe rosette */
					&:nth-child(7) {
						background-color: rgba(0,128,0,.5);
					}
					/* Safe */
					&:nth-child(8) {
						background-color: rgba(87, 170, 87, .5);
					}
				}
			}
			&:nth-child(2) {
				/* War */
				> div {
					background-color: rgba(170, 87, 87,.5);
					/* War rosette */
					&:nth-child(4) {
						background-color: rgba(142, 64, 64, 0.5);
					}
				}
			}
			/* Prepare */
			> div {
				display: table-cell;
				background-color: rgba(105, 105, 198, 0.5);
				border: .125em solid rgba(30, 30, 30, 0.5);
			}
		}
	}
	.pieces {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&.enemy > div > div {
			> div {
				background-color: rgba(0,0,189,1);
			}
			&.m0 > div {
				background-color: rgb(82, 82, 117);
				border-color: rgb(167, 167, 167);
			}
		}
		> div {
			position: relative;
			width: 12.5%;
			height: 33.33333335%;
			> div {
				width: 100%;
				height: 100%;
				position: absolute;
				transition: all .25s ease;
				left: 400%;
				&.m0 > div {
					background-color: rgb(117, 82, 82);
					border-color: rgb(167, 167, 167);
				}
				&.m2 > div {
					animation: piece-beacon .75s ease 5s infinite alternate backwards;
				}
				&.p1 {
					top: -100%;
					left: 300%;
				}
				&.p2 {
					top: -100%;
					left: 200%;
				}
				&.p3 {
					top: -100%;
					left: 100%;
				}
				&.p4 {
					top: -100%;
					left: 0;
				}
				&.p5 {
					top: -200%;
					left: 0;
				}
				&.p6 {
					top: -200%;
					left: 100%;
				}
				&.p7 {
					top: -200%;
					left: 200%;
				}
				&.p8 {
					top: -200%;
					left: 300%;
				}
				&.p9 {
					top: -200%;
					left: 400%;
				}
				&.p10 {
					top: -200%;
					left: 500%;
				}
				&.p11 {
					top: -200%;
					left: 600%;
				}
				&.p12 {
					top: -200%;
					left: 700%;
				}
				&.p13 {
					top: -100%;
					left: 700%;
				}
				&.p14 {
					top: -100%;
					left: 600%;
				}
				&.p15 {
					left: 500%;
				}
				> div {
					position: absolute;
					top: 20%;
					left: 20%;
					width: 60%;
					height: 60%;
					border-radius: 50%;
					background-color: rgb(189, 6, 6);
					border: .25em solid white;
					box-sizing: border-box;
					transition: all .25s ease;
					animation-delay: 0;
				}
			}
		}
		&:nth-child(even) {
			top: 100%;
		}
		&:nth-child(odd) {
			top: -100%;
			-moz-transform: scale(1, -1);
			-o-transform: scale(1, -1);
			-webkit-transform: scale(1, -1);
			transform: scale(1, -1);
		}
	}
}